.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  .App {
    flex-direction: column;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px 20px 20px;
  }
}

.wheel,
.info {
  flex: 1;
}

.fullscreen {
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
}

.fullscreen[is-shown=false] {
  display: none;
}

.fullscreen[is-shown=true] {
  display: block;
  pointer-events: none;
  animation: opacity 2s linear;
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.wheel {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wheel-outer {
  position: relative;
  display: flex;
}

.wheel-part-outer {
  color: #fff;
}

.wheel-part {
  position: absolute;
  overflow: visible !important;
}

.firstHalf > div {
  margin: -16px;
}

.secondHalf {
  transform: translate(0px, 5px);
}

.secondHalf > div {
  margin: -21px;
}

.wheel-part-outer span {
  top: 0;
  position: absolute;
  font-size: 0.6em;
  z-index: 9;
}

.wheel-component-outer {
  display: flex;
  justify-content: center;
}

.wheel-component {
  width: fit-content;
  overflow: hidden;
  width: 500px; height: 500px;
  transform: rotate(-90deg);
}

canvas {
  transform: scale(1.6);
}

.picker {
  display: flex;
  justify-content: center;
}

.picker img {
  transform: rotate(90deg);
}

.rotation-part {
  transform: rotate(0deg);
  transition: transform 10s cubic-bezier(0, 0.01, 0.16, 1);
}
